/* --- Estilos de Navegação de Menu --- */

/* Esconde todos os menus por padrão */
[data-menu] {
  display: none;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

/* Mostra o menu que está ativo/visível */
[data-menu].menu--visible {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  opacity: 1;
  min-height: 0; /* Prevenção de overflow */
}

/* Estado intermediário para a animação de saída */
[data-menu].menu--hiding {
  opacity: 0;
}
